<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <form method="post" action="/register/">
        {% csrf_token %}
         <h1 class="form-signin-heading">Please register a new account!</h1>
        <label>账号：</label>
        <input type="text" name="username" placeholder="username">
        <div></div>
        <label>密码：</label>
        <input type="text" name="password1" placeholder="password">
        <div></div>
        <label>确认密码</label>
        <input type="text" name="password2" placeholder="confirm password">
        <input type="submit" value="register"/>
        <div><span style="color:red">{{ msg }}</span></div>
    </form>
</body>
</html>