<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% for content in text %}
        <li>{{ content.post_text }}</li>
        {% for item1 in img %}
            {% if item1.post_id == content.id %}
                <img src="/media/{{ item1.image }}" height="50" width="100"/>
            {% endif %}
        {% endfor %}
        {% for item2 in video %}
            {% if item2.post_id == content.id %}
                <video src="/media/{{ item2.content }}" height="200" width="300" controls></video>
            {% endif %}
        {% endfor %}
        <hr/>
    {% endfor %}
</body>
</html>